<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <description>Root address</description>
        <param-name>Root</param-name>
        <param-value>/FacultyPortal/</param-value>
    </context-param>
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>gen.security.SecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>gen.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>gen.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>gen.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSubjectPreferences</servlet-name>
        <servlet-class>sp.GetSubjectPreferences</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOfferedSubjects</servlet-name>
        <servlet-class>sp.GetOfferedSubjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSubjectPreferences</servlet-name>
        <servlet-class>sp.UpdateSubjectPreferences</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllPreferences</servlet-name>
        <servlet-class>sp.AllPreferences</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnablePreferencesModule</servlet-name>
        <servlet-class>sp.EnablePreferencesModule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLeaveDetails</servlet-name>
        <servlet-class>lm.GetLeaveDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertLeave</servlet-name>
        <servlet-class>lm.InsertLeave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyLeaveDetails</servlet-name>
        <servlet-class>lm.MyLeaveDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveHistory</servlet-name>
        <servlet-class>lm.LeaveHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestsOfLoadArrangement</servlet-name>
        <servlet-class>lm.RequestsOfLoadArrangement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetLeave</servlet-name>
        <servlet-class>lm.ResetLeave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllSubjects</servlet-name>
        <servlet-class>sp.GetAllSubjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOfferedSubjects</servlet-name>
        <servlet-class>sp.EditOfferedSubjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>user.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>user.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArrangeLoad</servlet-name>
        <servlet-class>lm.ArrangeLoad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveRequests</servlet-name>
        <servlet-class>lm.LeaveRequests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Backup</servlet-name>
        <servlet-class>lm.Backup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadArrangementAccept</servlet-name>
        <servlet-class>lm.LoadArrangementAccept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpBackup</servlet-name>
        <servlet-class>sp.SpBackup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveRequest</servlet-name>
        <servlet-class>lm.ApproveRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/doLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/doLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSubjectPreferences</servlet-name>
        <url-pattern>/sp/GetSubjectPreferences</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOfferedSubjects</servlet-name>
        <url-pattern>/sp/GetOfferedSubjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSubjectPreferences</servlet-name>
        <url-pattern>/sp/UpdateSubjectPreferences</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllPreferences</servlet-name>
        <url-pattern>/sp/admin/AllPreferences</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnablePreferencesModule</servlet-name>
        <url-pattern>/sp/admin/EnablePreferencesModule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLeaveDetails</servlet-name>
        <url-pattern>/lm/GetLeaveDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertLeave</servlet-name>
        <url-pattern>/lm/InsertLeave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyLeaveDetails</servlet-name>
        <url-pattern>/lm/MyLeaveDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveHistory</servlet-name>
        <url-pattern>/lm/admin/LeaveHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestsOfLoadArrangement</servlet-name>
        <url-pattern>/lm/RequestsOfLoadArrangement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetLeave</servlet-name>
        <url-pattern>/lm/admin/ResetLeave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllSubjects</servlet-name>
        <url-pattern>/sp/admin/GetAllSubjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOfferedSubjects</servlet-name>
        <url-pattern>/sp/admin/EditOfferedSubjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/user/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/user/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArrangeLoad</servlet-name>
        <url-pattern>/lm/ArrangeLoad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveRequests</servlet-name>
        <url-pattern>/lm/admin/LeaveRequests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Backup</servlet-name>
        <url-pattern>/lm/admin/Backup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadArrangementAccept</servlet-name>
        <url-pattern>/lm/LoadArrangementAccept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpBackup</servlet-name>
        <url-pattern>/sp/admin/SpBackup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveRequest</servlet-name>
        <url-pattern>/lm/admin/ApproveRequest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
